In [1]:
# importing libraries
import pandas as pd                  # Preparing high-level data sets, etc.
import numpy as np                   # library for multi-dimensional array, matrix processing, etc.
import matplotlib.pyplot as plt      # Visualization Library
import seaborn as sns                # Visualization Library 
%matplotlib inline

In [2]:
df = pd.read_csv('C:\\Users\\user\\Desktop\\NEET DATA_ Analysis\\ANDAMAN AND NICOBAR ISLANDS (UT) NEET UG 2024.csv')
df.head()

,marks,state,city,center_name,center_number
0,46,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
1,226,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
2,449,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
3,424,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
4,222,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101

In [3]:
df.shape

(1025, 5)